<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
		
    <bean id="lecar" class="spring.chapter_3.beanfactory.LECarLife"
    	init-method="myInit" 
    	destroy-method="myDestroy"
    	p:brand="Audi A4"
    	p:maxSpeed="280" /> 
</beans>