<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
		xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<display-name>Servlet 3.0 Web Application</display-name>
	
	<!-- ① 从类路径下加载 Spring 配置文件, classPath 关键字特指类路径下加载 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	
	<!-- ② 负责起送 Spring 容器的监听器, 它将引用 ① 处的上下文参数获得 Spring 配置文件地址 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
	<!-- Spring MVC 的主控 servlet -->
    <servlet>
        <servlet-name>baobaotao</servlet-name>
        <servlet-class>
        	org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- Spring MVC 处理的 URL -->
    <servlet-mapping>
        <servlet-name>baobaotao</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

</web-app>